<div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Record Crediticio</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Banco
                </th>
                <th>
                  Cuotas Pendientes
                </th>
                <th>
                  Estado
                </th>
                <th class="text-center">
                  Monto
                </th>
              </tr>
            </thead>
            <tbody id="dataTableBody">
              <tr>
                <td>
                  Banrural
                </td>
                <td>
                  20
                </td>
                <td>
                 Solvente
                </td>
                <td  class="text-center">
                  Q 50,000.00
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>