<div class="card-body" id="body">
  <div class="row">
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>CUI </label>
        <input type="text" class="form-control" value="" id="cui" required>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Pasaporte </label>
        <input type="text" class="form-control" value="" id="pasaporte">
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Primer Nombre </label>
        <input type="text" class="form-control" value="" id="primerNombre" required>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Segundo Nombre </label>
        <input type="text" class="form-control" value="" id="segundoNombre">
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Primer Apellido </label>
        <input type="text" class="form-control" value="" id="primerApellido" required>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Segundo Apellido </label>
        <input type="text" class="form-control" value="" id="segundoApellido">
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Apellido De Casada </label>
        <input type="text" class="form-control" value="" id="apellidoCasada">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Salario Nominal</label>
        <input type="text" class="form-control" id="salarioNominal" required>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Salario Bruto</label>
        <input type="text" class="form-control" id="salarioBruto" required>
      </div>
    </div>
    <div class="col-md-2 px-md-1">
      <div class="form-group">
        <label>Salario Liquido</label>
        <input type="text" class="form-control" id="salarioLiquido" required>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-fill btn-primary" onclick="registrar()">Registrarse</button>
    </div>
  </div>
</div>