<div class="row">
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>Enviado</label>
      <input type="color" class="form-control" value="#AF7AC5">
    </div>
  </div>
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>Recibido</label>
      <input type="color" class="form-control" value="#2980B9">
    </div>
  </div>
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>En Proceso</label>
      <input type="color" class="form-control" value="#F1C40F">
    </div>
  </div>
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>Rechazado</label>
      <input type="color" class="form-control" value="#C0392B">
    </div>
  </div>
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>Aprobado</label>
      <input type="color" class="form-control" value="#229954">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>CUI </label>
      <input type="text" class="form-control" value="" id="cui" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Pasaporte </label>
      <input type="text" class="form-control" value="" id="pasaporte" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Primer Nombre </label>
      <input type="text" class="form-control" value="" id="primerNombre" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Segundo Nombre </label>
      <input type="text" class="form-control" value="" id="segundoNombre" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Primer Apellido </label>
      <input type="text" class="form-control" value="" id="primerApellido" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Segundo Apellido </label>
      <input type="text" class="form-control" value="" id="segundoApellido" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Apellido De Casada </label>
      <input type="text" class="form-control" value="" id="apellidoCasada" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Fecha </label>
      <input type="date" class="form-control" id="fechaSolicitud" disabled>
    </div>
  </div>
  <div class="col-md-2 pr-md-1">
    <div class="form-group">
      <label>Monto A solicitar</label>
      <input type="text" class="form-control" id="montoASolicitar" disabled>
    </div>
  </div>
  <div class="col-md-1 px-md-1">
    <div class="form-group">
      <label>Cuota Mensual</label>
      <select name="select" class="form-control" disabled>
        <option class="form-control" value="12" style="color:black">12</option>
        <option class="form-control" value="24" style="color:black">24</option>
        <option class="form-control" value="36" style="color:black">36</option>
        <option class="form-control" value="48" style="color:black">48</option>
        <option class="form-control" value="60" style="color:black">60</option>
        <option class="form-control" value="72" style="color:black">72</option>
        <option class="form-control" value="84" style="color:black">84</option>
        <option class="form-control" value="96" style="color:black">96</option>
      </select>
    </div>
  </div>
  <div class="col-md-2 px-md-1">
    <div class="form-group">
      <label>Tasa Aplicada</label>
      <input type="text" class="form-control" disabled>
    </div>
  </div>
  <div class="col-md-2 px-md-1">
    <div class="form-group">
      <label>Estado De Solicitud</label>
      <input type="color" class="form-control" value="" id="estadoSolicitud">
    </div>
  </div>
</div>



</div>

</form>